/* style.css */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Changed to a more aesthetic font */
  background-color: #91816a;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the body takes up the full height of the viewport */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  /*  border-bottom: 1px solid #bdab8c; */
  background-color: #637b88;
}

.logo-img {
  width: 100px; /* Increased size */
  height: auto;
  max-height: 100px;
}

.site-title {
  font-family: 'Playfair Display', serif; /* Aesthetic font for the title */
  font-size: 2rem; /* Increased font size */
  color: #ffffff;
  margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  font-weight: bold;
}

.nav-links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 0;
  background: #a0766e;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.hero {
  text-align: center;
  padding: 5rem 2rem;
  max-width: 800px;
  margin: auto;
  flex: 1; /* Ensures the hero section takes up remaining space */
}

footer {
  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
  color: #ffffff;
  background-color: #51778a;
  margin-top: auto; /* Pushes the footer to the bottom of the page */
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease forwards;
  animation-delay: 0.5s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}